body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2em;
}

.splash{
  width: 100%;
}

@media (max-width:480px) {
  .form {
    margin-top: 170px;

  }

  /* smartphones, iPhone, portrait 480x320 phones */
}

.login-input{
  padding: 12px;

}

.form-radius{
  border-radius: 30px;
}
.mb {
  margin-bottom: 20px !important;
}